<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>TransformToSaiyan</title>
</head>
<style>
    body {
        background-image: url("https://pbs.twimg.com/media/BYaXSopCcAAEVxC.jpg:large");
        background-color: #cccccc;
    }
</style>

<body>
    <!-- navbar -->
    <!-- Image and text -->
    <nav class="navbar navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            <img src="https://www.freeiconspng.com/uploads/naruto-icon-3.png" href="/gym" width="30" height="30" class="d-inline-block align-top" alt=""> TransformToSaiyan
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="/gym">Home <span class="sr-only">(current)</span></a>
                <a class="nav-item nav-link" href="trans">Tansform</a>
                <a class="nav-item nav-link" href="/blog">Blog</a>
                <a class="nav-item nav-link" href="/gym/supp">Supplement Blog</a>
                <a class="nav-item nav-link" href="/gym/contact">Contact</a>
                <a class="nav-item nav-link" href="/gym/prac">BMR</a>


            </div>
        </div>
    </nav>
    <br>
    <!-- cards -->
    <div class="container">
        <div class="row">
            <div class="card-columns d-flex justify-content-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://i.pinimg.com/originals/8e/38/92/8e389293c1d3ca65d2a178fefea0f201.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Lean Ninja Package</h5>
                                <p class="card-text">
                                    <ul style="list-style-type:disc;">
                                        <li>24 X 7 Support</li>
                                        <li>Tailored Diet Plan </li>
                                        <li>Customize Workout plan</li>
                                        <li>Supplement Support</li>
                                    </ul>
                                </p>
                                <a class="btn btn-info" href="/gym/ninja" role="button">Transform</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcS4nVP73eFeIXchCskuKNQ0ObzEPH_2O15iXytb9cRFqjZI6KKe&usqp=CAU" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Saiyan Muscle Gain</h5>
                                <p class="card-text">
                                    <ul style="list-style-type:disc;">
                                        <li>24 X 7 Support</li>
                                        <li>Tailored Diet Plan </li>
                                        <li>Customize Workout plan</li>
                                        <li>Supplement Support</li>
                                    </ul>
                                </p>
                                <a class="btn btn-danger" href="/gym/saiyan" role="button">Transform</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="card-columns d-flex justify-content-center">

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://www.greatestphysiques.com/wp-content/uploads/2016/09/Anllela-sagra-ass.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Tonned/Rippied </h5>
                                <p class="card-text">
                                    <ul style="list-style-type:disc;">
                                        <li>24 X 7 Support</li>
                                        <li>Tailored Diet Plan </li>
                                        <li>Customize Workout plan</li>
                                        <li>Supplement Support</li>
                                        <li>HIIT Training</li>
                                        <li>Soul feeding Cheat meal</li>
                                    </ul>
                                </p>
                                <a class="btn btn-success" href="/gym/tonned" role="button">Transform</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://i2.wp.com/www.mworldlive.com/wp-content/uploads/2019/05/Anna-Nystrom-5.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Muscle Gain</h5>
                                <p>
                                    <ul style="list-style-type:disc;">
                                        <li>24 X 7 Support</li>
                                        <li>Tailored Diet Plan </li>
                                        <li>Customize Workout plan</li>
                                        <li>Supplement Support</li>
                                        <li>Soul feeding Cheat meal</li>
                                    </ul>
                                    <a class="btn btn-dark" href="/gym/muscle" role="button">Transform</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="container">
        <div class="row">
            <div class="card-columns d-flex justify-content-center">
                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTfiILBjOPFVMPizhaqBnmfoIZ0xnflvOP2mcN_xMdQMezxhlgN&usqp=CAU" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Healthy Life Style</h5>
                                <p>
                                    <ul style="list-style-type:disc;">
                                        <li>24 X 7 Support</li>
                                        <li>Tailored Diet Plan </li>
                                        <li>Home/Park Workout</li>
                                        <li>Secret Tips</li>
                                    </ul>
                                    <a class="btn btn-danger" href="/gym/healthy" role="button">Transform</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="card mb-3" style="max-width: 540px;">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                            <img src="https://cdn4.vectorstock.com/i/1000x1000/57/38/healthy-man-sport-food-concept-elements-vector-14375738.jpg" class="card-img" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">Plan For Any kind of health issue</h5>
                                <p>
                                    <ul style="list-style-type:disc;">
                                        <li>24 X 7 Support</li>
                                        <li>Special Diet Plan </li>
                                        <li>Home/Park Workout</li>
                                        <li>Secret Tips</li>
                                        <li>100% Natural</li>
                                    </ul>
                                    <a class="btn btn-danger" href="/gym/dis" role="button">Transform</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>







            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>

</html>